body {
    background-color: #fff;
}

.distance {
    color:            #FF0000;
}

h1,h2,h3,h4,h5,h6 {
    color:            #006db6;
}

.nav-framed {
    border-width:     3px;
    border-style:     solid;
    border-color:     rgba(218,241,251,.25);
    padding:          0 0 0 0;
    margin:           0 0.4em 0 0.4em;
    font-weight:      bold;
}

.navbar-inverse .navbar-brand,.navbar-inverse .navbar-toggler{
    color:            #daf1fb;
}

.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-toggler:focus,.navbar-inverse .navbar-toggler:hover{
    color:            rgba(255,255,255, 1);
}

.navbar-inverse .navbar-nav .nav-link  {
    color:            rgba(218,241,251, 0.5);
}

.navbar-inverse .navbar-nav .nav-link:focus,.navbar-inverse .navbar-nav .nav-link:hover{
    color:            rgba(255,255,255, 1);
}

.navbar-inverse .navbar-nav .nav-link.disabled{
    color:            rgba(218,241,251,.25);
}

.navbar-inverse .navbar-nav .active>.nav-link,.navbar-inverse .navbar-nav .nav-link.active,.navbar-inverse .navbar-nav .nav-link.open,.navbar-inverse .navbar-nav .open>.nav-link{
    color:            rgba(255,255,255, 1);
}

.navbar-inverse .navbar-toggler  {
    border-color:     rgba(218,241,251, 0.5);
    cursor:           pointer;
}

.navbar-inverse .navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(218, 241, 251, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-inverse .navbar-text{
    color:            rgba(218,241,251, 1);
}

.bg-inverse{
    background-color:       #006db6!important;
}

a.bg-inverse:focus,a.bg-inverse:hover{
    background-color:       #101112!important;
}

.redWeight {
    font-weight:            300;
}

header {
    padding-top:            2.5em;
    padding-bottom:         2.5em;
}

/*   Parallax effect    */
.parallaxed { 
    height:                 900px;
    width:                  100%;
    background-image:       linear-gradient(to top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%), url(img/bg_body.jpg);
    background-attachment:  fixed;
    background-position:    center;
    background-repeat:      no-repeat;
    background-size:        100% 100%;
}

.full-height  {
    height:                 100% !important;
}

.topSpacer  {
    height: 70px;
}

#about {
}

#status {
    background-color: #dcdcdc;
}

#detector {
}

#subdetectors {
}

#collider {

}

.py-5 {
    padding-top:    2.5em;
    width:          100%;
}

#contact {
    background-color: rgba(218,241,251, 1);
}

#links {
    background-color: #dcdcdc;
}

footer {
    background-color: #ea5037; 
    color: white;
}

.tshadow {
    text-shadow: 
    1px 1px #dba0b6, 
    2px 2px #dba0b6;
}

.tshadow_XL {
    text-shadow: 
    1px 1px #ea5037, 
    2px 2px #ea5037, 
    3px 3px #ea5037;
}

.bshadow {
    box-shadow: 10px 10px #dba0b6;
}

/* Flipping Cards */
.flippy {
    padding-top:    110px !important;
    padding-bottom: 10px;
    margin-bottom:  150px;
}

.front {
    background-color: rgba(218,241,251, 1);
}

.back {
    background-color: #fff;
    position:         absolute !important;
}

.flipper, .flipperB {
    cursor:           pointer;
    position:         absolute;
    bottom:           0;
    left:             0;
}

#cern {
    max-height:       5em;
}

.form-control {
    border-radius:    0;
    border:           none;
    border-right:     5px solid #006db6; 
    border-bottom:    5px solid #006db6;
    box-shadow:       5px 5px #dba0b6;
}

.pLabel {
    font-size:        0.75em;
    font-weight:      bold;
    color:            rgba(218,241,251, 1);
    background-color: #006db6;
    border:           1px solid #000000; 
    min-height:       2.5rem;
    vertical-align:   middle;
    margin:           6px 6px 6px 6px;
}

.pLabel:hover {
    cursor:           pointer;
    font-weight:      bold;
    text-decoration:  underline;
    background-color: rgba(218,241,251, 1);
    color:            #006db6;
}

.ulliB {
    color:            #505050;
    padding-bottom:   2.5rem !important;
}

ul {
    padding-left:     1.5em;
    padding-right:    1.5em;
}

.selectDiv, .flipper, .flipperB  {
    cursor:           pointer;
    margin:           0 0 0 0;
    padding:          0 0 0 0;
    vertical-align:   middle;
}

.selectDiv:hover i.fa , .flipper:hover i.fa, .flipperB:hover i.fa{
    text-shadow: 
    1px 1px #dba0b6, 
    2px 2px #dba0b6;
}

.selectDiv:hover i.fa.fa-bars, .flipper:hover i.fa.fa-bars, .flipperB:hover i.fa.fa-bars{
    text-shadow: 
    -1px 1px #dba0b6, 
    -2px 2px #dba0b6;
}

.auxFa {
    color:            rgba(218,241,251, 1) !important;
    text-shadow:      none !important;
    cursor:           default !important;
}

.btn-custom {
    color:rgba(255,255,255, 1);
    background-color: #006db6;
    border-color:     #006db6;
}

.btn-custom.active, .btn-custom:active, .show>.btn-custom.dropdown-toggle {
    color:            #fff;
    background-color: #006db6;
    background-image: none;
    border-color:     #006db6;
}

.modal-content {
    background-color: rgba(218,241,251, 1);
    border-radius:    0;
    border:           none;
    border-right:     5px solid #006db6; 
    border-bottom:    5px solid #006db6;
    box-shadow:       5px 5px #ea5037;
}

.fa.fa-close {
    font-size:        initial;
    font-weight:      400;
}

.close {
    opacity: 1 !important;
}

.fa.fa-close:hover, .fa.fa-close:focus {
    font-weight: 700;
}

a:link, a:visited {
    color: #006db6;
    text-decoration: none;
}

a:hover, a:active, a h4:hover, a h4:active{
    color:           #006db6;
    text-decoration: underline;
}

a:focus {
    outline:         0;
}

.lbtext {
    color:           #006db6;
}

/* Extend bootstrap styles  */
.display-5 {
    font-size:       2.5rem;
    font-weight:     300;
    line-height:     1.1;
}
/* Extend bootstrap styles  */
.display-6 {
    font-size:       1.3rem;
    font-weight:     300;
    line-height:     1.1;
}

.unaffectedA:hover, .unaffectedA:active {
    text-shadow:     none;
}

button:focus {
    outline:0;
}

#lhcb_copyright a:link, #lhcb_copyright a:visited{
    color: #dcdcdc;
    text-decoration: none;
}

#lhcb_copyright a:hover, #lhcb_copyright a:active{
    color: #006db6;
    text-decoration: none;
    font-weight: 700;
}

.fancyiFrame {
    border:            none;
    border-right:      5px solid #006db6; 
    border-bottom:     5px solid #006db6;
    box-shadow:        5px 5px #ea5037;
    background-color:  rgba(218,241,251, 1);
    width:             100%;
    /* We must set the minimal sizes. Otherwise things fail for hand-helds etc. */
    min-height:        1000px;
    min-width:         1200px;
}

#iframeContainer {
    display:        none;
    padding-top:    70px; /* Markus */
    width:          100%;
}

#lhcb_logo{
    max-height: 10rem !important;
}

/* Large devices (desktops, larger than 1200px) */
@media (min-width: 1200px)    {
    #iframeContainer {
	width:          88% !important;
    }
}

/* Large devices (desktops, less than 900px) */
@media (max-height: 900px)    {
    #lhcb_logo{
	max-height: 7rem !important;
    }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px)    {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 979px)    {
    #lhcb_logo{
	max-height: 5rem !important;
    }
    #lhcb_logoText{
	padding:   0 0.65em 0 0.65em;
	font-size: 1em;
    }
    .parallaxed {
	background-size: 1000px 500px !important;
	height:          1000px;
    }
    .nav-framed {
	border:  0;
	padding: 0;
	margin:  0;
    }
    #iframeContainer {
	width: 100%;
    }
}

@media (max-height: 680px) {
    #lhcb_logo{
	max-height: 5rem !important;
    }
    .flippy {
	padding-top:      90px  !important;
	padding-bottom:   70px  !important;
	margin-bottom:   100px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 769px) {
    .parallaxed {
	background-size:  800px 600px !important;
    }
    .topSpacer  {
	height: 20px;
    }
    .pLabel {
	font-size:        1em;
	min-height:       1.5rem  !important;
    }
    .flippy {
	padding-top:       90px   !important;
	padding-bottom:   100px   !important;
	margin-bottom:    200px;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    #lhcb_logoText{
	display: none;
    }
    .parallaxed {
	background-size: 600px 400px !important;
    }
    .selectDiv {
	line-height:      1.1;
    }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 335px) {
    .parallaxed {
	background-size: 400px 350px !important;
    }
}

