/* <style type="text/css"> */
/*
   $Id:$

   LHCb Web Status displays

   Copyright (C) Organisation europeenne pour la Recherche nucleaire (CERN)
   All rights reserved.
  
   For details please see       Online/Stomp/README
   For the licensing terms see  Online/Stomp/LICENSE
  
   Author     : M.Frank
  
*/

/*   FSM states a la JCOP */

.FwDEAD   {
    color:           black;
    background-color:#CCCCCC;
    width:           135px;
}

.FwStateAttention1  {
    color:           black;
    background-color:#F1F166;
    width:           135px;
}
.FwStateAttention2  {
    color:           black;
    background-color:#FF9900;
    width:           135px;
}
.FwStateAttention3   {
    color:           black;
    background-color:#FF0000;
    width:           135px;
    border-style:    dotted;
}
.FwStateOKNotPhysics   {
    color:           black;
    background-color:#0099FF;
    width:           135px;
}
.FwStateOKPhysics    {
    color:            black;
    background-color: #00CC99;
    width:            135px;
}
.FwLock  {
    color:           black;
    background-color:#D0D0D0;
    font:            bold 90% Arial,Helvetica,sans-serif;
    width:           12px;
    border-style:    dotted;
    border-width:    1px;
    border-color:    black;
}

.FSMLabel {
    background-color: #0C74B9;
    color:            #DAF0FB;
    border-style:     solid;
    border-width:     1px;
    border-color:     #000;
}

.FSMState	{
    color:            #000000;
    cursor:           pointer;
    border-style:     dotted;
    border-width:     1px;
    border-color:     #000;
}

.FSMBase	{
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        1.2em;
    font-weight:      bold;
    line-height:      100%;
    text-decoration:  none;
    text-align:       left;
    padding-left:     12;
    vertical-align:   middle  !important;
}

/* </STYLE>  */
