/* <style type="text/css"> */

.MonitorDataHeader  {
    background-color: #0C74B9;
    color:            #DAF0FB;
    text-align:       left;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
    padding-left:     20;
}

.MonitorDataItem  {
    /* color:            #0C74B9; */
    color:            #000;
    /* background-color: #DAF0FB; */
    text-align:       left;
    border:           none;
}

.Bg-lhcbdark  {
    background-color: #0C74B9;
}

.Bg-lhcblight  {
    background-color: #DAF0FB;
}

.Bg-lightgreen  {
    background-color: #00CC00;
}

.Bg-lightred  {
    background-color: #CC0000;
}

.Text-lhcbdark  {
    color:            #0C74B9;
}

.Text-lhcblight  {
    color:            #DAF0FB;
}

.Text-Center  {
    text-align:       center;
}

.Text-Middle  {
    vertical-align:   middle  !important;
}

.Text-Right  {
    text-align:       right;
}

.Text-Left  {
    text-align:       left;
}

.Text-Bold {
  font-weight:        bold;
} 

.Text-100 {
  width:             '100%';
} 

.Text-Big {
  font-size:         1.25em;
} 

.Text-Huge {
  font-size:         2.5em;
} 

.Text-Border {
    border:          solid 1px black;
} 

.NoBorder {
    border:          0;
} 

.NoPadding {
    padding:         0;
} 

body.wait, body.wait input  {
    cursor: wait;
}
body.default, body.default input  {
    cursor: default;
}

/* </STYLE>  */
