/* <style type="text/css"> */

.Arial8pt  {
    color:            #000000;
    border:           none;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        8px;
    font-weight:      normal;
}

.Arial10pt  {
    color:            #000000;
    border:           none;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        10px;
    font-weight:      normal;
}

.Arial12pt  {
    color:            #000000;
    border:           none;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        12px;
    font-weight:      normal;
}

.Arial14pt  {
    color:            #000000;
    border:           none;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        14px;
    font-weight:      normal;
}

.Arial16pt  {
    color:            #000000;
    border:           none;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        16px;
    font-weight:      normal;
}

.ShiftComments  {
    color:            #000000;
    border-bottom:    solid;
    border-width:     1px;
    border-color:     #000000;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        14px;
    font-weight:      normal;
}

.NewsPage  {
    background-color: #FFFFFF;
    color:            #000000;
    border:           none;
    border-color:     #000000;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        12px;
    font-weight:      bold;
}

.NavigationBar  {
    background-color: #666666;
    color:            #FFFFFF;
    border:           none;
    border-width:     0px;
    border-color:     #000000;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        12px;
    font-weight:      bold;
    text-align:       center;
    text-decoration:  none;
}
.MainBody  {
    /* background-color: #666666; */
    /* background-color: #CCCCCC; */
    /* color:            #FFFFFF; */
    border:           none;
    border-color:     #000000;
    font-family:      Arial, Helvetica, sans-serif;
    text-align:       center;
    text-decoration:  none;
}
/***********************************************************************************/
/*                                                                                 */
/* Generic LHCb Monitoring display styles.                                         */
/*                                                                                 */
/***********************************************************************************/
.MonitorOuterFrame {
    background-color: #CCCCCC;
    color:            #000000;
    border-style:     outset;
    border-width:     2px;
    border-color:     #AAAAAA;
    border-top-color: #222222;
    border-left-color:#222222;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        100%;
    font-weight:      bold;
    text-decoration:  none;
    width:            100%;
    padding:          0px;
}

.MonitorInnerFrame {
    background-color: #CCCCCC;
    color:            #000000;
    font:             bold 100% Arial,Helvetica,sans-serif;
    border:           none 1px #000000;
    text-decoration:  none;
    width:            100%;
    padding:          0px;
}

.MonitorPage {
    background-color: #CCCCCC;
    color:            #000000;
    border:           ridge 2px #BBBBBB;
    font:             bold 95% Arial,Helvetica,sans-serif;
    text-decoration:  none;
    width:            100%;
}

.MonitorData  {
    background-color: #EEEEEE;
    color:            #000000;
    font:             bold 100% Arial,Helvetica,sans-serif;
    text-align:       left;
    text-decoration:  none;
    border:           none;
}

.MonitorPanel  {
    background-color: #CCCCCC;
    color:            #000000;
    font-family:      Arial, Helvetica, sans-serif;
    text-align:       center;
    text-decoration:  none;
}

.MonitorBigHeader  {
    background-color: #CCCCCC;
    color:            #000000;
    text-align:       center;
    font-size:        150%;
    font-weight:      bold;
    border:           solid;
    border-width:     0px;
}

.MonitorBigHeaderBLUE  {
    background-color: #00BBFF;
    color:            #000000;
    text-align:       center;
    font-size:        130%;
    font-weight:      bold;
    border:           solid;
    border-width:     1px;
    width:            100%;
}

.MonitorDataHeader  {
    background-color: #DDDDDD;
    color:            #000000;
    text-align:       left;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
}
.MonitorDataHeaderRight  {
    background-color: #DDDDDD;
    color:            #000000;
    text-align:       right;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
}
.MonitorDataHeaderLeft  {
    background-color: #DDDDDD;
    color:            #000000;
    text-align:       left;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
}
.MonitorSmallHeader  {
    background-color: #DDDDDD;
    color:            #000000;
    text-align:       right;
    font-size:        80%;
    border:           solid;
    border-width:     1px;
    border-color:     #000000;
}

.MonitorDataHeaderRED  {
    background-color: #FFBBBB;
    border:           solid 1px black;
    text-align:       left;
}

.MonitorDataHeaderCenter  {
    background-color: #DDDDDD;
    border:           solid 1px black;
    text-align:       center;
}

.MonitorDataHeaderRight  {
    background-color: #DDDDDD;
    border:           solid 1px black;
    text-align:       right;
}

.MonitorSubHeader  {
    background-color: #00BBFF;
    text-align:       center;
    font-size:        130%;
    border:           solid 1px black;
    width:            100%;
}

.MonitorTinyHeader  {
    background-color: #CCCCCC;
    color:            #000000;
    text-align:       center;
    font-weight:      normal;
    font-size:        60%;
}

.MonitorTableData  {
    background-color: #EEEEEE;
    text-align:       left;
}

.MonitorTableDataLeft  {
    background-color: #EEEEEE;
    text-align:       left;
}

.MonitorTableDataRight  {
    background-color: #EEEEEE;
    text-align:       right;
}

.MonitorTableDataCenter  {
    background-color: #EEEEEE;
    text-align:       center;
}

.Text-Center  {
    text-align:       center;
    text-decoration:  none;
}

.Text-Right  {
    text-align:       right;
    text-decoration:  none;
}

.Text-Left  {
    text-align:       left;
    text-decoration:  none;
}
.Text-lhcbdark  {
    color:            #0000FF;
}

/***********************************************************************************/
/*                                                                                 */
/* Other helper styles                                                             */
/*                                                                                 */
/***********************************************************************************/
.StatusPlain	{
    color: #000000;
    background-color: #CCCCCC;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        16px;
    font-weight:      bold;
    line-height:      20px;
    text-decoration:  none;
    text-align:       left;
    border:           none;
    border-width:     0px;
}

.StatusText	{
    color: #000000;
    background-color: #CCCCCC;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        120%;
    font-weight:      bold;
    line-height:      20px;
    text-decoration:  underline;
    text-align:       left;
    border:           none;
    border-width:     0px;
}

.DisplayButton	{
    color:            #000000;
    background-color: #EEEEEE;
    font-family:      Arial, Helvetica, sans-serif;
    font-size:        80%;
    font-weight:      bold;
    text-align:       center;
    text-decoration:  none;
    border:           solid;
    border-width:     1px;
    height:           24px;
    cursor:           pointer;
}

.StatusLogger   {
    color:            #000000;
    background-color: #EEEEEE;
    overflow-x:       scroll;
    overflow-y:       scroll;
    width:            802px;
    height:           250px;
    border:           solid;
    border-width:     1px;
    text-align:       left;
}

.CanvasWhite   {
    background-color: #EEEEEE;
    overflow-x:       scroll;
    overflow-y:       scroll;
    border:           solid;
    border-width:     1px;
}
                  	  
.tooltip {
  font-size:             10px;
  font-family:           Arial, Helvetica, sans-serif;
  border:                solid 1px #666666; 
  width:                 270px; 
  padding:               1px;
  position:              absolute; 
  z-index:               100;
  visibility:            hidden; 
  color:                 #333333; top:20px;
  left:                  90px; 
  background-color:      #ffffcc;
  text-align:            left;
}

.VerticalAlignTop {
  vertical-align: top;
  font-family:    Arial, Helvetica, sans-serif;
  font-size:      16px;
  width: 100%;
} 

.VerticalAlignBottom {
  vertical-align: bottom;
  font-family:    Arial, Helvetica, sans-serif;
  font-size:      16px;
  width: 100%;
} 
.TextBold {
  font-weight:    bold;
} 

.PaddingSides10pt  {
    padding-left:  10pt;
    padding-right: 10pt;
}

/* </STYLE>  */
