body {
		background-color: #fff;
		padding-top: 100px; /* it should be made responsive !!! */
	}

	h1,h2,h3,h4,h5,h6 {
		color: #006db6;
	}

	/* Extra small devices (portrait phones, less than 576px) */
	@media (max-width: 575px) {

	}

	/* Small devices (landscape phones, less than 768px) */
	@media (max-width: 767px) {
		#lhcb_logoText {
			display: none;
		}
	}

	/* Medium devices (tablets, less than 992px) */
	@media (max-width: 991px) {
		#lhcb_logo{
			max-height: 2em !important;
		}
		#lhcb_logoText{
			padding: 0.65em 0.65em;
			font-size: 1em;
		}
	}

	/* Large devices (desktops, less than 1200px) */
	@media (max-width: 1199px) {

	}

	/* Extra large devices (large desktops) */
	/* No media query since the extra-large breakpoint has no upper bound on its width */

	/* Extra small devices (portrait phones, less than 576px) */
	/* No media query since this is the default in Bootstrap */

	/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) {
		
	}

	/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) {
		.navbar {
	        padding: 20px 0;
	        border-bottom: 3px solid #ea5037;
	        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	        transition: background .5s ease-in-out,padding .5s ease-in-out;
	    }

	    .nav-woPadding {
	        padding: 8px 0;
	        /*border-bottom: 0;*/
	    }	
	}

	/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		#lhcb_logo{
			max-height: 2.8em !important;
		}
		#lhcb_logoText{
			padding: 0.65em 0.65em;
			font-size: 1.3em;
		}
	}

	/* Extra large devices (large desktops, 1200px and up) */
	@media (min-width: 1200px) {
		
	}

	.navbar-inverse .navbar-brand,.navbar-inverse .navbar-toggler{
		color:#daf1fb;
	}
	.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-toggler:focus,.navbar-inverse .navbar-toggler:hover{
		color:#fff;
	}
	.navbar-inverse .navbar-nav .nav-link{
		color:rgba(218,241,251, 0.5);
	}
	.navbar-inverse .navbar-nav .nav-link:focus,.navbar-inverse .navbar-nav .nav-link:hover{
		color:rgba(255,255,255, 1);
	}
	.navbar-inverse .navbar-nav .nav-link.disabled{
		color:rgba(218,241,251,.25);
	}
	.navbar-inverse .navbar-nav .active>.nav-link,.navbar-inverse .navbar-nav .nav-link.active,.navbar-inverse .navbar-nav .nav-link.open,.navbar-inverse .navbar-nav .open>.nav-link{
		color:#fff;
	}
	.navbar-inverse .navbar-toggler{
		border-color:rgba(218,241,251, 0.5);
		cursor: pointer;
	}
	.navbar-inverse .navbar-toggler-icon{
		background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(218, 241, 251, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
	.navbar-inverse .navbar-text{
		color:rgba(218,241,251, 1);
	}

	.bg-inverse{
		background-color:#006db6!important;
	}
	a.bg-inverse:focus,a.bg-inverse:hover{
		background-color:#101112!important;
	}

	.redWeight {
		font-weight: 300;
	}

	header {
		padding-top: 2.5em;
		padding-bottom: 2.5em;
	}

	.parallaxed { 
		/*Parallax effect*/
		background: url(img/LHCb_charpic_xs.png) center top no-repeat;
	    height: 100%; 
	    background-attachment: fixed;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	}

	#about {
	}

	#status {
		background-color: #dcdcdc;
		/*overflow: paged-y;
		overflow: -webkit-paged-y;*/
	}

	#detector {
	}

	#subdetectors {
	}

	#collider {

	}

	.flippyCont {
	}

	.flippy {
	}

	.front {
		background-color: rgba(218,241,251, 1);
		/*position: relative !important;*/
	}

	.back {
		background-color: #fff;
	}

	#contact {
		background-color: rgba(218,241,251, 1);
	}

	#links {
		background-color: #dcdcdc;
	}

	footer {
		background-color: #ea5037; 
		color: white;
	}

	.tshadow {
		text-shadow: 
		1px 1px #dba0b6, 
        2px 2px #dba0b6;
	}

	.tshadow_XL {
		text-shadow: 
		1px 1px #ea5037, 
        2px 2px #ea5037, 
        3px 3px #ea5037;
	}

	.bshadow {
		box-shadow: 10px 10px #dba0b6;
	}

	/* Safari 4.0 - 8.0 */
	/*@-webkit-keyframes appDisapp {
	    0%   {-webkit-filter: opacity(0%);}
	    100% {-webkit-filter: opacity(0%);}
	}*/
	/* Standard syntax */
	/*@keyframes appDisapp {
	    0%   {filter: opacity(0%) contrast(0%); height: : 20%;
	    100% {filter: opacity(0%) contrast(0%); height: 20%;}
	}*/

	/* Flipping Cards */
	
	.flipper, .flipperB {
		cursor: pointer;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}

	#cern {
		max-height: 5em;
	}

	.form-control {
		border-radius: 0;
  		border: none;
  		border-right: 5px solid #006db6; 
		border-bottom: 5px solid #006db6;
		box-shadow: 5px 5px #dba0b6;
	}

	.fa {
		color: #006db6 !important;
	}

	.pLabel {
		font-size: 0.75em;
		color: #505050;
	}

	.ulliB {
		color: #505050;
	}

	ul {
		padding-left: 2.5em;
		padding-right: 2.5em;
	}

	.selectDiv, .flipper, .flipperB{
		cursor: pointer;
	}

	.selectDiv:hover i.fa , .flipper:hover i.fa, .flipperB:hover i.fa{
		cursor: pointer;
		text-shadow: 
		1px 1px #dba0b6, 
        2px 2px #dba0b6;
	}

	.selectDiv:hover i.fa.fa-bars, .flipper:hover i.fa.fa-bars, .flipperB:hover i.fa.fa-bars{
		cursor: pointer;
		text-shadow: 
		-1px 1px #dba0b6, 
        -2px 2px #dba0b6;
	}

	.auxFa {
		color: rgba(218,241,251, 1) !important;
		text-shadow: none !important;
		cursor: default !important;
	}

	.btn-custom {
		color:rgba(255,255,255, 1);
	    background-color: #006db6;
	    border-color: #006db6;
	}

	.btn-custom.active, .btn-custom:active, .show>.btn-custom.dropdown-toggle {
	    color: #fff;
	    background-color: #006db6;
	    background-image: none;
	    border-color: #006db6;
	}

	.modal-content {
		background-color: rgba(218,241,251, 1);
		border-radius: 0;
		border: none;
  		border-right: 5px solid #006db6; 
		border-bottom: 5px solid #006db6;
		box-shadow: 5px 5px #ea5037;
	}

	.fa.fa-close {
		font-size: initial;
		font-weight: 400;
	}

	.close {
		opacity: 1 !important;
	}

	.fa.fa-close:hover, .fa.fa-close:focus {
		font-weight: 700;
	}

	a:link, a:visited {
	    color: #006db6;
	    text-decoration: none;
	}

	a:hover, a:active, a h4:hover, a h4:active{
	    color: #006db6;
	    text-decoration: underline;
	}

	a:focus {
		outline:0;
	}

	.unaffectedA:hover, .unaffectedA:active {
		text-shadow: none;
	}

	button:focus {
		outline:0;
	}

	#lhcb_copyright a:link, #lhcb_copyright a:visited{
	    color: #dcdcdc;
	    text-decoration: none;
	}

	#lhcb_copyright a:hover, #lhcb_copyright a:active{
	    color: #006db6;
	    text-decoration: none;
	    font-weight: 700;
	}

	.fancyiFrame {
	   	width: 100%;
	    border: none;
  		border-right: 5px solid #006db6; 
		border-bottom: 5px solid #006db6;
		box-shadow: 5px 5px #ea5037;
		background-color: rgba(218,241,251, 1);
		height: 0px;
	}

	#iframeContainer {
	    display: none;
	}

	/*.MonitorOuterFrame {
	    background-color: #CCCCCC;
	    color: #000000;
	    border-style: outset;
	    border-width: 2px;
	    border-color: #AAAAAA;
	    border-top-color: #222222;
	    border-left-color: #222222;
	    font-family: Arial, Helvetica, sans-serif;
	    font-size: 100%;
	    font-weight: bold;
	    text-decoration: none;
	    width: 100%;
	    padding: 0px;
	}

	.MonitorBigHeader {
	    background-color: #dcdcdc;
	    color: #000000;
	    text-align: center;
	    font-size: 150%;
	    font-weight: bold;
	    border: solid;
	    border-width: 0px;
	}*/

/*	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	  .parallaxed {
	    background: url(img/LHCb_charpic_xs2x.png) center top no-repeat;
	    background-size: 1080 1920;
	  }
	}
	@media (min-width: 768px) {
	  .parallaxed {
	    background: url(img/LHCb_charpic_sm.png) center top no-repeat;
	  }
	}
	@media (min-width: 768px) and only screen and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and only screen and (min--moz-device-pixel-ratio: 2), (min-width: 768px) and only screen and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and only screen and (min-device-pixel-ratio: 2), (min-width: 768px) and only screen and (min-resolution: 192dpi), (min-width: 768px) and only screen and (min-resolution: 2dppx) {
	  .parallaxed {
	    background: url(img/LHCb_charpic_sm2x.png) center top no-repeat;
	    background-size: 992 558;
	  }
	}
	@media (min-width: 992px) {
	  .parallaxed {
	    background: url(img/LHCb_charpic_md.png) center top no-repeat;  }
	}
	@media (min-width: 992px) and only screen and (-webkit-min-device-pixel-ratio: 2), (min-width: 992px) and only screen and (min--moz-device-pixel-ratio: 2), (min-width: 992px) and only screen and (-o-min-device-pixel-ratio: 2/1), (min-width: 992px) and only screen and (min-device-pixel-ratio: 2), (min-width: 992px) and only screen and (min-resolution: 192dpi), (min-width: 992px) and only screen and (min-resolution: 2dppx) {
	  .parallaxed {
	    background: url(img/LHCb_charpic_md2x.png) center top no-repeat;
	    background-size: 1200 675;
	  }
	}
	@media (min-width: 1200px) {
	  .parallaxed {
	    background: url(img/LHCb_charpic_lg.png) center top no-repeat;
	  }
	}
	@media (min-width: 1200px) and only screen and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and only screen and (min--moz-device-pixel-ratio: 2), (min-width: 1200px) and only screen and (-o-min-device-pixel-ratio: 2/1), (min-width: 1200px) and only screen and (min-device-pixel-ratio: 2), (min-width: 1200px) and only screen and (min-resolution: 192dpi), (min-width: 1200px) and only screen and (min-resolution: 2dppx) {
	  .parallaxed {
	    background: url(img/LHCb_charpic_lg2x.png) center top no-repeat;
	    background-size: 1440 810;
	  }
	}*/
