.x-tip-body {
    background-color: #ffffcc;
    color:            #202020;
}

.x-grid-item, .x-form-item-label, .x-form-item-body, .x-form-text  {
    font-weight: bold          !important;
} 

.x-form-text:hover {
    background-color: #ffefbb;
}

.x-panel-header-default,
.x-panel-header-default-framed,
.x-tab-bar,
.x-tab-default,
.lhcb-header,
.lhcb-header-title,
#lhcb-header-title-innerCt,
#lhcb-about-button, 
#lhcb-about-button-btnInnerEl   {
    color:            #daf1fb;
    background-color: #006dbc;
    border-color:     #006dbc;
}

.x-tab-default, #lhcb-about-button-btnInnerEl {
    background-color: #5fa2dd;
}

.lhcb-header-body, #lhcb-header-title-innerCt, #lhcb-about-button  {
    height:           88px     !important;
    font-size:        2em      !important;
    font-weight:      bold;
    vertical-align:   middle;
    text-align:       center;
}

#lhcb-about-button-btnInnerEl {
    font-size:        0.75em;
    padding:          12px;
}

#lhcb-about-button-btnInnerEl:hover  {
    background-color: #5795cb;
}
